@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Poppin define local font */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'),
    url('../font/Poppins-Regular.ttf') format('ttf');
}


/* Gilroy-Bold local define font */
@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../font/Gilroy-Bold.ttf') format('ttf');
}

/* Gilroy-Light local define font */
@font-face {
  font-family: 'Gilroy-Light';
  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../font/Gilroy-Light.ttf') format('ttf');
}


/* Gilroy-Medium local define font */
@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../font/Gilroy-Medium.ttf') format('ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
